{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="hero_area">
         <!-- header section strats -->
         <header class="header_section">
            <div class="container">
               <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="index.html"><img width="150" src="{% static 'images/logo.png' %}" alt="#" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav">
                        <li class="nav-item active">
                           <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                        </li>
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                              <span class="nav-label">Movies<span class="caret"></span></a>
                           <ul class="dropdown-menu">
                            {% for link in link %}
                              <li><a href="{{link.get_url}}">{{link.movie_name}}</a></li>
                             {% endfor %}
                           </ul>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                     </ul>
                  </div>
               </nav>
            </div>
         </header>
      </div>
      <!---banner image--->
      <div class="slider_bg_box">
        <img src="{% static 'images/banner.png' %}" alt="">
      </div>
<!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>Movies</span>
               </h2>
            </div>
              <section class="product_section layout_padding">
                <div class="container">
                  <div class="row">
                 {% for i in catmovie %}
                   <div class="col-sm-6 col-md-4 col-lg-4">
                      <div class="box">
                        <div class="option container">
                        </div>
                         <div class="img-box">
                             <img src="{{i.image}}" alt="">
                         </div>
                          <a href="{{link.get_url}}">{{i.movie_name}}<h4></h4></a>
                      </div>
                   </div>
                  {% endfor %}
                  </div>
                </div>
             </section>
            </div>
         </div>
      </section>
      <!-- end product section -->

{% endblock %}
